<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.enjoy.mybatis.ch03.mappings.TRoleMapper" >
  <resultMap id="BaseResultMap" type="com.enjoy.mybatis.ch03.entity.TRole" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
    <result column="note" property="note" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, role_name, note
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByPrimaryKeys" resultMap="BaseResultMap" parameterType="java.util.ArrayList">
    select
    <include refid="Base_Column_List"/>
    where id in
    <foreach collection="list" item="item" index="i" open="(" close=")">#{item}</foreach>
  </select>

  <!-- 查询角色下的用户列表 -->
  <resultMap id="roleUsers" type="com.enjoy.mybatis.ch03.entity.TRole" extends="BaseResultMap">
    <collection property="users" ofType="com.enjoy.mybatis.ch03.entity.TUser" fetchType="lazy"
                select="com.enjoy.mybatis.ch03.mappings.TUserMapper.selectUserWithRoleId" column="user_id"/>
  </resultMap>
  <select id="selectRoleUsers" resultMap="roleUsers">
    select a.id, a.role_name, a.note, b.user_id
    from t_role a, t_user_role b
    where a.id = b.role_id
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.enjoy.mybatis.ch03.entity.TRole" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_role (id, role_name, note
      )
    values (#{id,jdbcType=INTEGER}, #{roleName,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.enjoy.mybatis.ch03.entity.TRole" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="roleName != null" >
        role_name,
      </if>
      <if test="note != null" >
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=INTEGER},
      <if test="roleName != null" >
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.enjoy.mybatis.ch03.entity.TRole" >
    update t_role
    <set >
      <if test="roleName != null" >
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.enjoy.mybatis.ch03.entity.TRole" >
    update t_role
    set role_name = #{roleName,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>