<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <properties resource="db.properties"/>

    <settings>
        <!--将数据库中的下划线自动改为驼峰命名-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!--别名配置：给映射类加别名之后，mapper里的resultType就可以直接写类名字，而不用写全类名-->
    <typeAliases>
        <package name="com.enjoy.mybatis.ch01.entity"/>
    </typeAliases>

    <!--配置environment环境-->
    <environments default="development">
        <!--环境配置1：每个SqlSessionFactory对应一个环境-->
        <environment id="development">
            <!--指定事务管理的类型，这里简单使用Java的JDBC的提交和回滚设置-->
            <transactionManager type="JDBC"/>
            <!--dataSource 指连接源配置，POOLED是JDBC连接对象的数据源连接池的实现-->
            <dataSource type="UNPOOLED">
                <property name="driver" value="${jdbc_driver}"/>
                <property name="url" value="${jdbc_url}"/>
                <property name="username" value="${jdbc_username}"/>
                <property name="password" value="${jdbc_password}"/>
            </dataSource>
        </environment>
    </environments>

    <!--映射文件，mapper的配置-->
    <mappers>
        <!--这是告诉Mybatis区哪找持久化类的映射文件，对于在src下的文件直接写文件名，
            如果在某包下，则要写明路径,如：com/mybatistest/config/User.xml-->
        <mapper resource="sqlmapper/TAccountMapper.xml"/>
        <mapper resource="sqlmapper/TUserMapper.xml"/>
    </mappers>
</configuration>