<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.enjoy.mybatis.ch01.mapper.TAccountMapper">
    <select id="selectByPrimaryKey" resultType="com.enjoy.mybatis.ch01.TAccount" parameterType="java.lang.Integer">
        select
            id,
            name,
            balance
        from account
        where id = #{id,jdbcType=INTEGER}
    </select>
</mapper>